$blue: #3190e8;
$bc: #e4e4e4;
$fc:#fff;
$themeColor:red;
// 背景图片地址和大小
@mixin bis($url) {
  background-image: url($url);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

@mixin borderRadius($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  -ms-border-radius: $radius;
  -o-border-radius: $radius;
  border-radius: $radius;
}

//定位全屏
@mixin allcover {
  position: absolute;
  top: 0;
  right: 0;
}

//定位上下左右居中
@mixin center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

//定位上下居中
@mixin ct {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

//定位上下居中
@mixin cl {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

//宽高
@mixin wh($width, $height) {
  width: $width;
  height: $height;
}

//字体大小、行高、字体
@mixin font($size, $line-height, $family: 'Microsoft YaHei') {
  font: #{$size}/#{$line-height} $family;
}

//字体大小，颜色
@mixin sc($size, $color) {
  font-size: $size;
  color: $color;
}

//flex 布局和 子元素 对其方式
@mixin fj($type: space-between) {
  display: flex;
  justify-content: $type;
}

// px转rem
$browser-default-font-size: 20px !default;
@function pxTorem($px) {
  @return $px / $browser-default-font-size * 1rem;
}
// 清楚单位的函数
@function strip-units($number){
  @return $number / ($number * 0 + 1);
}

@mixin remCalc($property, $values...) {
  $max: length($values);//返回$values列表的长度值
  $remValues: '';
  @for $i from 1 through $max {
    $value: strip-units(nth($values, $i));//返回$values列表中的第$i个值，并将单位值去掉
    $browser-default-font-size: strip-units($browser-default-font-size);
    $remValues: #{$remValues + $value / $browser-default-font-size}rem;
    @if $i < $max {
      $remValues: #{$remValues + " "};
    }
  }
  // @for $i from 1 through $max {
  //   $value: strip-units(nth($values, $i));
  //   $remValues: #{$remValues + $value}rem;
  //   @if $i < $max {
  //     $remValues: #{$remValues + " "};
  //   }
  // }
  #{$property}: $remValues;
}
