<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.bjdvt.platform.mapper.StyleBoxMapper" >

    <resultMap id="BaseResultMap" type="com.bjdvt.platform.model.StyleBox" >
        <id column="id" property="id" jdbcType="INTEGER" />
        <result column="props_id" property="propsId" jdbcType="INTEGER" />
        <result column="padding_top" property="paddingTop" jdbcType="VARCHAR" />
        <result column="padding_bottom" property="paddingBottom" jdbcType="VARCHAR" />
        <result column="padding_left" property="paddingLeft" jdbcType="VARCHAR" />
        <result column="padding_right" property="paddingRight" jdbcType="VARCHAR" />
        <result column="border_style" property="borderStyle" jdbcType="VARCHAR" />
        <result column="border_width" property="borderWidth" jdbcType="VARCHAR" />
        <result column="border_color" property="borderColor" jdbcType="VARCHAR" />
        <result column="shadow" property="shadow" jdbcType="VARCHAR" />
        <result column="radius" property="radius" jdbcType="VARCHAR" />
    </resultMap>

    <sql id="Example_Where_Clause" >
        <where >
            <foreach collection="oredCriteria" item="criteria" separator="or" >
                <if test="criteria.valid" >
                    <trim prefix="(" suffix=")" prefixOverrides="and" >
                        <foreach collection="criteria.criteria" item="criterion" >
                            <choose >
                                <when test="criterion.noValue" >
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue" >
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue" >
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue" >
                                    and ${criterion.condition}
                                    <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>

    <sql id="Update_By_Example_Where_Clause" >
        <where >
            <foreach collection="example.oredCriteria" item="criteria" separator="or" >
                <if test="criteria.valid" >
                    <trim prefix="(" suffix=")" prefixOverrides="and" >
                        <foreach collection="criteria.criteria" item="criterion" >
                            <choose >
                                <when test="criterion.noValue" >
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue" >
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue" >
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue" >
                                    and ${criterion.condition}
                                    <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>

    <sql id="Base_Column_List" >
        id, props_id, padding_top, padding_bottom, padding_left, padding_right, border_style, 
        border_width, border_color, shadow, radius
    </sql>

    <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.bjdvt.platform.model.StyleBoxExample" >
        select
        <if test="distinct" >
            distinct
        </if>
        <include refid="Base_Column_List" />
        from style_box
        <if test="_parameter != null" >
            <include refid="Example_Where_Clause" />
        </if>
        <if test="orderByClause != null" >
            order by ${orderByClause}
        </if>
    </select>

    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
        select 
        <include refid="Base_Column_List" />
        from style_box
        where id = #{id,jdbcType=INTEGER}
    </select>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
        delete from style_box
        where id = #{id,jdbcType=INTEGER}
    </delete>

    <delete id="deleteByExample" parameterType="com.bjdvt.platform.model.StyleBoxExample" >
        delete from style_box
        <if test="_parameter != null" >
            <include refid="Example_Where_Clause" />
        </if>
    </delete>

    <insert id="insert" parameterType="com.bjdvt.platform.model.StyleBox"  useGeneratedKeys="true" keyProperty="id">
        insert into style_box (id, props_id, padding_top, 
            padding_bottom, padding_left, padding_right, 
            border_style, border_width, border_color, 
            shadow, radius)
        values (#{id,jdbcType=INTEGER}, #{propsId,jdbcType=INTEGER}, #{paddingTop,jdbcType=VARCHAR}, 
            #{paddingBottom,jdbcType=VARCHAR}, #{paddingLeft,jdbcType=VARCHAR}, #{paddingRight,jdbcType=VARCHAR}, 
            #{borderStyle,jdbcType=VARCHAR}, #{borderWidth,jdbcType=VARCHAR}, #{borderColor,jdbcType=VARCHAR}, 
            #{shadow,jdbcType=VARCHAR}, #{radius,jdbcType=VARCHAR})
    </insert>

    <insert id="insertSelective" parameterType="com.bjdvt.platform.model.StyleBox" >
        insert into style_box
        <trim prefix="(" suffix=")" suffixOverrides="," >
            <if test="id != null" >
                id,
            </if>
            <if test="propsId != null" >
                props_id,
            </if>
            <if test="paddingTop != null" >
                padding_top,
            </if>
            <if test="paddingBottom != null" >
                padding_bottom,
            </if>
            <if test="paddingLeft != null" >
                padding_left,
            </if>
            <if test="paddingRight != null" >
                padding_right,
            </if>
            <if test="borderStyle != null" >
                border_style,
            </if>
            <if test="borderWidth != null" >
                border_width,
            </if>
            <if test="borderColor != null" >
                border_color,
            </if>
            <if test="shadow != null" >
                shadow,
            </if>
            <if test="radius != null" >
                radius,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides="," >
            <if test="id != null" >
                #{id,jdbcType=INTEGER},
            </if>
            <if test="propsId != null" >
                #{propsId,jdbcType=INTEGER},
            </if>
            <if test="paddingTop != null" >
                #{paddingTop,jdbcType=VARCHAR},
            </if>
            <if test="paddingBottom != null" >
                #{paddingBottom,jdbcType=VARCHAR},
            </if>
            <if test="paddingLeft != null" >
                #{paddingLeft,jdbcType=VARCHAR},
            </if>
            <if test="paddingRight != null" >
                #{paddingRight,jdbcType=VARCHAR},
            </if>
            <if test="borderStyle != null" >
                #{borderStyle,jdbcType=VARCHAR},
            </if>
            <if test="borderWidth != null" >
                #{borderWidth,jdbcType=VARCHAR},
            </if>
            <if test="borderColor != null" >
                #{borderColor,jdbcType=VARCHAR},
            </if>
            <if test="shadow != null" >
                #{shadow,jdbcType=VARCHAR},
            </if>
            <if test="radius != null" >
                #{radius,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>

    <select id="countByExample" parameterType="com.bjdvt.platform.model.StyleBoxExample" resultType="java.lang.Integer" >
        select count(*) from style_box
        <if test="_parameter != null" >
            <include refid="Example_Where_Clause" />
        </if>
    </select>

    <update id="updateByExampleSelective" parameterType="map" >
        update style_box
        <set >
            <if test="record.id != null" >
                id = #{record.id,jdbcType=INTEGER},
            </if>
            <if test="record.propsId != null" >
                props_id = #{record.propsId,jdbcType=INTEGER},
            </if>
            <if test="record.paddingTop != null" >
                padding_top = #{record.paddingTop,jdbcType=VARCHAR},
            </if>
            <if test="record.paddingBottom != null" >
                padding_bottom = #{record.paddingBottom,jdbcType=VARCHAR},
            </if>
            <if test="record.paddingLeft != null" >
                padding_left = #{record.paddingLeft,jdbcType=VARCHAR},
            </if>
            <if test="record.paddingRight != null" >
                padding_right = #{record.paddingRight,jdbcType=VARCHAR},
            </if>
            <if test="record.borderStyle != null" >
                border_style = #{record.borderStyle,jdbcType=VARCHAR},
            </if>
            <if test="record.borderWidth != null" >
                border_width = #{record.borderWidth,jdbcType=VARCHAR},
            </if>
            <if test="record.borderColor != null" >
                border_color = #{record.borderColor,jdbcType=VARCHAR},
            </if>
            <if test="record.shadow != null" >
                shadow = #{record.shadow,jdbcType=VARCHAR},
            </if>
            <if test="record.radius != null" >
                radius = #{record.radius,jdbcType=VARCHAR},
            </if>
        </set>
        <if test="_parameter != null" >
            <include refid="Update_By_Example_Where_Clause" />
        </if>
    </update>

    <update id="updateByExample" parameterType="map" >
        update style_box
        set id = #{record.id,jdbcType=INTEGER},
            props_id = #{record.propsId,jdbcType=INTEGER},
            padding_top = #{record.paddingTop,jdbcType=VARCHAR},
            padding_bottom = #{record.paddingBottom,jdbcType=VARCHAR},
            padding_left = #{record.paddingLeft,jdbcType=VARCHAR},
            padding_right = #{record.paddingRight,jdbcType=VARCHAR},
            border_style = #{record.borderStyle,jdbcType=VARCHAR},
            border_width = #{record.borderWidth,jdbcType=VARCHAR},
            border_color = #{record.borderColor,jdbcType=VARCHAR},
            shadow = #{record.shadow,jdbcType=VARCHAR},
            radius = #{record.radius,jdbcType=VARCHAR}
        <if test="_parameter != null" >
            <include refid="Update_By_Example_Where_Clause" />
        </if>
    </update>

    <update id="updateByPrimaryKeySelective" parameterType="com.bjdvt.platform.model.StyleBox" >
        update style_box
        <set >
            <if test="propsId != null" >
                props_id = #{propsId,jdbcType=INTEGER},
            </if>
            <if test="paddingTop != null" >
                padding_top = #{paddingTop,jdbcType=VARCHAR},
            </if>
            <if test="paddingBottom != null" >
                padding_bottom = #{paddingBottom,jdbcType=VARCHAR},
            </if>
            <if test="paddingLeft != null" >
                padding_left = #{paddingLeft,jdbcType=VARCHAR},
            </if>
            <if test="paddingRight != null" >
                padding_right = #{paddingRight,jdbcType=VARCHAR},
            </if>
            <if test="borderStyle != null" >
                border_style = #{borderStyle,jdbcType=VARCHAR},
            </if>
            <if test="borderWidth != null" >
                border_width = #{borderWidth,jdbcType=VARCHAR},
            </if>
            <if test="borderColor != null" >
                border_color = #{borderColor,jdbcType=VARCHAR},
            </if>
            <if test="shadow != null" >
                shadow = #{shadow,jdbcType=VARCHAR},
            </if>
            <if test="radius != null" >
                radius = #{radius,jdbcType=VARCHAR},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>

    <update id="updateByPrimaryKey" parameterType="com.bjdvt.platform.model.StyleBox" >
        update style_box
        set props_id = #{propsId,jdbcType=INTEGER},
            padding_top = #{paddingTop,jdbcType=VARCHAR},
            padding_bottom = #{paddingBottom,jdbcType=VARCHAR},
            padding_left = #{paddingLeft,jdbcType=VARCHAR},
            padding_right = #{paddingRight,jdbcType=VARCHAR},
            border_style = #{borderStyle,jdbcType=VARCHAR},
            border_width = #{borderWidth,jdbcType=VARCHAR},
            border_color = #{borderColor,jdbcType=VARCHAR},
            shadow = #{shadow,jdbcType=VARCHAR},
            radius = #{radius,jdbcType=VARCHAR}
        where id = #{id,jdbcType=INTEGER}
    </update>
</mapper>