<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.bjdvt.platform.mapper.WxImageMapper" >

    <resultMap id="BaseResultMap" type="com.bjdvt.platform.model.WxImage" >
        <id column="id" property="id" jdbcType="INTEGER" />
        <result column="image_url" property="imageUrl" jdbcType="VARCHAR" />
        <result column="wx_user_id" property="wxUserId" jdbcType="INTEGER" />
        <result column="company_id" property="companyId" jdbcType="INTEGER" />
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    </resultMap>

    <sql id="Example_Where_Clause" >
        <where >
            <foreach collection="oredCriteria" item="criteria" separator="or" >
                <if test="criteria.valid" >
                    <trim prefix="(" suffix=")" prefixOverrides="and" >
                        <foreach collection="criteria.criteria" item="criterion" >
                            <choose >
                                <when test="criterion.noValue" >
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue" >
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue" >
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue" >
                                    and ${criterion.condition}
                                    <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>

    <sql id="Update_By_Example_Where_Clause" >
        <where >
            <foreach collection="example.oredCriteria" item="criteria" separator="or" >
                <if test="criteria.valid" >
                    <trim prefix="(" suffix=")" prefixOverrides="and" >
                        <foreach collection="criteria.criteria" item="criterion" >
                            <choose >
                                <when test="criterion.noValue" >
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue" >
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue" >
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue" >
                                    and ${criterion.condition}
                                    <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>

    <sql id="Base_Column_List" >
        id, image_url, wx_user_id, company_id, create_time
    </sql>

    <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.bjdvt.platform.model.WxImageExample" >
        select
        <if test="distinct" >
            distinct
        </if>
        <include refid="Base_Column_List" />
        from wx_image
        <if test="_parameter != null" >
            <include refid="Example_Where_Clause" />
        </if>
        <if test="orderByClause != null" >
            order by ${orderByClause}
        </if>
    </select>

    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
        select 
        <include refid="Base_Column_List" />
        from wx_image
        where id = #{id,jdbcType=INTEGER}
    </select>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
        delete from wx_image
        where id = #{id,jdbcType=INTEGER}
    </delete>

    <delete id="deleteByExample" parameterType="com.bjdvt.platform.model.WxImageExample" >
        delete from wx_image
        <if test="_parameter != null" >
            <include refid="Example_Where_Clause" />
        </if>
    </delete>

    <insert id="insert" parameterType="com.bjdvt.platform.model.WxImage" >
        insert into wx_image (id, image_url, wx_user_id, 
            company_id, create_time)
        values (#{id,jdbcType=INTEGER}, #{imageUrl,jdbcType=VARCHAR}, #{wxUserId,jdbcType=INTEGER}, 
            #{companyId,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP})
    </insert>

    <insert id="insertSelective" parameterType="com.bjdvt.platform.model.WxImage" >
        insert into wx_image
        <trim prefix="(" suffix=")" suffixOverrides="," >
            <if test="id != null" >
                id,
            </if>
            <if test="imageUrl != null" >
                image_url,
            </if>
            <if test="wxUserId != null" >
                wx_user_id,
            </if>
            <if test="companyId != null" >
                company_id,
            </if>
            <if test="createTime != null" >
                create_time,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides="," >
            <if test="id != null" >
                #{id,jdbcType=INTEGER},
            </if>
            <if test="imageUrl != null" >
                #{imageUrl,jdbcType=VARCHAR},
            </if>
            <if test="wxUserId != null" >
                #{wxUserId,jdbcType=INTEGER},
            </if>
            <if test="companyId != null" >
                #{companyId,jdbcType=INTEGER},
            </if>
            <if test="createTime != null" >
                #{createTime,jdbcType=TIMESTAMP},
            </if>
        </trim>
    </insert>

    <select id="countByExample" parameterType="com.bjdvt.platform.model.WxImageExample" resultType="java.lang.Integer" >
        select count(*) from wx_image
        <if test="_parameter != null" >
            <include refid="Example_Where_Clause" />
        </if>
    </select>

    <update id="updateByExampleSelective" parameterType="map" >
        update wx_image
        <set >
            <if test="record.id != null" >
                id = #{record.id,jdbcType=INTEGER},
            </if>
            <if test="record.imageUrl != null" >
                image_url = #{record.imageUrl,jdbcType=VARCHAR},
            </if>
            <if test="record.wxUserId != null" >
                wx_user_id = #{record.wxUserId,jdbcType=INTEGER},
            </if>
            <if test="record.companyId != null" >
                company_id = #{record.companyId,jdbcType=INTEGER},
            </if>
            <if test="record.createTime != null" >
                create_time = #{record.createTime,jdbcType=TIMESTAMP},
            </if>
        </set>
        <if test="_parameter != null" >
            <include refid="Update_By_Example_Where_Clause" />
        </if>
    </update>

    <update id="updateByExample" parameterType="map" >
        update wx_image
        set id = #{record.id,jdbcType=INTEGER},
            image_url = #{record.imageUrl,jdbcType=VARCHAR},
            wx_user_id = #{record.wxUserId,jdbcType=INTEGER},
            company_id = #{record.companyId,jdbcType=INTEGER},
            create_time = #{record.createTime,jdbcType=TIMESTAMP}
        <if test="_parameter != null" >
            <include refid="Update_By_Example_Where_Clause" />
        </if>
    </update>

    <update id="updateByPrimaryKeySelective" parameterType="com.bjdvt.platform.model.WxImage" >
        update wx_image
        <set >
            <if test="imageUrl != null" >
                image_url = #{imageUrl,jdbcType=VARCHAR},
            </if>
            <if test="wxUserId != null" >
                wx_user_id = #{wxUserId,jdbcType=INTEGER},
            </if>
            <if test="companyId != null" >
                company_id = #{companyId,jdbcType=INTEGER},
            </if>
            <if test="createTime != null" >
                create_time = #{createTime,jdbcType=TIMESTAMP},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>

    <update id="updateByPrimaryKey" parameterType="com.bjdvt.platform.model.WxImage" >
        update wx_image
        set image_url = #{imageUrl,jdbcType=VARCHAR},
            wx_user_id = #{wxUserId,jdbcType=INTEGER},
            company_id = #{companyId,jdbcType=INTEGER},
            create_time = #{createTime,jdbcType=TIMESTAMP}
        where id = #{id,jdbcType=INTEGER}
    </update>
</mapper>