<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.bjdvt.platform.mapper.DataMapper" >

    <resultMap id="BaseResultMap" type="com.bjdvt.platform.model.Data" >
        <id column="id" property="id" jdbcType="INTEGER" />
        <result column="props_id" property="propsId" jdbcType="INTEGER" />
        <result column="src" property="src" jdbcType="INTEGER" />
        <result column="title" property="title" jdbcType="VARCHAR" />
        <result column="sub_title" property="subTitle" jdbcType="VARCHAR" />
         <result column="text" property="text" jdbcType="VARCHAR" />
          <result column="img_url" property="imgUrl" jdbcType="VARCHAR" />
           <result column="link" property="link" jdbcType="VARCHAR" />
    </resultMap>

    <sql id="Example_Where_Clause" >
        <where >
            <foreach collection="oredCriteria" item="criteria" separator="or" >
                <if test="criteria.valid" >
                    <trim prefix="(" suffix=")" prefixOverrides="and" >
                        <foreach collection="criteria.criteria" item="criterion" >
                            <choose >
                                <when test="criterion.noValue" >
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue" >
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue" >
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue" >
                                    and ${criterion.condition}
                                    <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>

    <sql id="Update_By_Example_Where_Clause" >
        <where >
            <foreach collection="example.oredCriteria" item="criteria" separator="or" >
                <if test="criteria.valid" >
                    <trim prefix="(" suffix=")" prefixOverrides="and" >
                        <foreach collection="criteria.criteria" item="criterion" >
                            <choose >
                                <when test="criterion.noValue" >
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue" >
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue" >
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue" >
                                    and ${criterion.condition}
                                    <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>

    <sql id="Base_Column_List" >
        id, props_id, src, title, sub_title
    </sql>

    <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.bjdvt.platform.model.DataExample" >
        select
        <if test="distinct" >
            distinct
        </if>
        <include refid="Base_Column_List" />
        from data
        <if test="_parameter != null" >
            <include refid="Example_Where_Clause" />
        </if>
        <if test="orderByClause != null" >
            order by ${orderByClause}
        </if>
    </select>

    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
        select 
        <include refid="Base_Column_List" />
        from data
        where id = #{id,jdbcType=INTEGER}
    </select>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
        delete from data
        where id = #{id,jdbcType=INTEGER}
    </delete>

    <delete id="deleteByExample" parameterType="com.bjdvt.platform.model.DataExample" >
        delete from data
        <if test="_parameter != null" >
            <include refid="Example_Where_Clause" />
        </if>
    </delete>

    <insert id="insert" parameterType="com.bjdvt.platform.model.Data" >
        insert into data (id, props_id, src, 
            title, sub_title,text,img_url,link)
        values (#{id,jdbcType=INTEGER}, #{propsId,jdbcType=INTEGER}, #{src,jdbcType=INTEGER}, 
            #{title,jdbcType=VARCHAR}, #{subTitle,jdbcType=VARCHAR}, #{text,jdbcType=VARCHAR}
             #{imgUrl,jdbcType=VARCHAR}, #{link,jdbcType=VARCHAR}
            )
    </insert>

    <insert id="insertSelective" parameterType="com.bjdvt.platform.model.Data" >
        insert into data
        <trim prefix="(" suffix=")" suffixOverrides="," >
            <if test="id != null" >
                id,
            </if>
            <if test="propsId != null" >
                props_id,
            </if>
            <if test="src != null" >
                src,
            </if>
            <if test="title != null" >
                title,
            </if>
            <if test="subTitle != null" >
                sub_title,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides="," >
            <if test="id != null" >
                #{id,jdbcType=INTEGER},
            </if>
            <if test="propsId != null" >
                #{propsId,jdbcType=INTEGER},
            </if>
            <if test="src != null" >
                #{src,jdbcType=INTEGER},
            </if>
            <if test="title != null" >
                #{title,jdbcType=VARCHAR},
            </if>
            <if test="subTitle != null" >
                #{subTitle,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>

    <select id="countByExample" parameterType="com.bjdvt.platform.model.DataExample" resultType="java.lang.Integer" >
        select count(*) from data
        <if test="_parameter != null" >
            <include refid="Example_Where_Clause" />
        </if>
    </select>

    <update id="updateByExampleSelective" parameterType="map" >
        update data
        <set >
            <if test="record.id != null" >
                id = #{record.id,jdbcType=INTEGER},
            </if>
            <if test="record.propsId != null" >
                props_id = #{record.propsId,jdbcType=INTEGER},
            </if>
            <if test="record.src != null" >
                src = #{record.src,jdbcType=INTEGER},
            </if>
            <if test="record.title != null" >
                title = #{record.title,jdbcType=VARCHAR},
            </if>
            <if test="record.subTitle != null" >
                sub_title = #{record.subTitle,jdbcType=VARCHAR},
            </if>
        </set>
        <if test="_parameter != null" >
            <include refid="Update_By_Example_Where_Clause" />
        </if>
    </update>

    <update id="updateByExample" parameterType="map" >
        update data
        set id = #{record.id,jdbcType=INTEGER},
            props_id = #{record.propsId,jdbcType=INTEGER},
            src = #{record.src,jdbcType=INTEGER},
            title = #{record.title,jdbcType=VARCHAR},
            sub_title = #{record.subTitle,jdbcType=VARCHAR}
        <if test="_parameter != null" >
            <include refid="Update_By_Example_Where_Clause" />
        </if>
    </update>

    <update id="updateByPrimaryKeySelective" parameterType="com.bjdvt.platform.model.Data" >
        update data
        <set >
            <if test="propsId != null" >
                props_id = #{propsId,jdbcType=INTEGER},
            </if>
            <if test="src != null" >
                src = #{src,jdbcType=INTEGER},
            </if>
            <if test="title != null" >
                title = #{title,jdbcType=VARCHAR},
            </if>
            <if test="subTitle != null" >
                sub_title = #{subTitle,jdbcType=VARCHAR},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>

    <update id="updateByPrimaryKey" parameterType="com.bjdvt.platform.model.Data" >
        update data
        set props_id = #{propsId,jdbcType=INTEGER},
            src = #{src,jdbcType=INTEGER},
            title = #{title,jdbcType=VARCHAR},
            sub_title = #{subTitle,jdbcType=VARCHAR}
        where id = #{id,jdbcType=INTEGER}
    </update>
</mapper>