page {  min-height: 100%;  width: 100%;  background: #fff;}.container {  height: 100%;  background: #fff;}.pay-result {  background: #fff;}
.pay-result .msg {  text-align: center; color: #2bab25;  font-size: 18px;}
.pay-result{padding-top: 50px;box-sizing: border-box}
.pay-result img {display: block;margin:auto;margin-bottom: 20px}

.pay-result .btns {position: fixed;bottom: 30px;left: 0;right: 0;display: flex;  align-items: center;  justify-content: center;}
.pay-result .btn {font-size: 16px;text-align: center;height: 30px;margin: 0 10px;width: 100px;line-height: 30px;  border: 1px solid #868686;  color: #000000;  border-radius: 2px;}.pay-result .error .msg {  color: #b4282d;  margin-bottom: 30px;}.pay-result .error .tips {  color: #7f7f7f;  margin-bottom: 35px;}.pay-result .error .tips .p {  font-size: 12px;  line-height: 21px;  text-align: center;}.pay-result .error .tips .p {  line-height: 21px;  text-align: center;}
